<div class="card-body">
    <accordion [isAnimated]="true" [closeOthers]="true" class="items-center flex">
        <p class="text-3xl sm:text-4xl md:text-5xl text-center uppercase">
            <a [download]="download" [href]="srcDokumente"><i class="fas fa-download"></i></a>
            Persönliche Dokumente
            <a [download]="download" [href]="srcDokumente"><i class="fas fa-download"></i></a>
        </p>

        <accordion-group class="w-full md:w-3/4 mx-auto" *ngFor="let data of pdfData">
            <span accordion-heading >
                {{data.heading}}
            </span>
            <span accordion-heading class="float-right">
                <i class="fas fa-angle-down" ></i>
            </span>

            <pdf-viewer [src]="data.src" [render-text]="true" [original-size]="false" [zoom-scale]="'page-width'"
                [show-borders]="true" style="height: 70vh;">
            </pdf-viewer>
        </accordion-group>
    </accordion>
</div>