<footer class="text-center text-white">
    <div class="container p-3">
        <div class="">
            <p class="flex justify-center items-center">
                <span class="mr-4" *ngIf="(auth.isAuthenticated$ |async) == false">Log dich ein um Dokumente zu sehen</span>
                <span class="mr-4" *ngIf="(auth.isAuthenticated$ |async)">Du bist eingeloggt</span>
                <button type="button"
                    class="inline-block px-6 py-2 border-2 border-white text-white font-medium text-xs leading-tight uppercase rounded-full hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out">
                    <a class="text-white" href="/impressum">Impressum</a>
                </button>
            </p>
        </div>
    </div>

    <div class="text-center pb-2">
        © 2022 Copyright:
        <a class="text-white" href="">Jann Fiedler</a>
    </div>
</footer>