<section class="pt-60 sm:pt-40 md:pt-20">
    <div class="flex flex-col px-8 mx-auto space-y-12 max-w-7xl xl:px-12">
        <div class="relative">
            <h2 class="w-full text-3xl font-bold text-center sm:text-4xl md:text-5xl">Technologien</h2>
            <p class="w-full py-8 mx-auto -mt-2 text-lg text-center text-gray-700 intro sm:max-w-3xl">
                Auf dieser Seite werde ich bestimmte Technologien, welche ich für diese Webseite gebraucht habe, beschreiben. 
            </p>
        </div>

        <div class="flex flex-col mb-8 animated fadeIn sm:flex-row">
            <div class="flex items-center mb-8 sm:w-1/2 md:w-5/12 sm:order-last">
        <img class="rounded-lg drop-shadow-2xl" src="">
            </div>
            <div class="flex flex-col justify-center mt-5 mb-8 md:mt-0 sm:w-1/2 md:w-7/12 sm:pr-16">
                <p class="mb-2 text-sm font-semibold leading-none text-left text-green-blue uppercase">Lorem ipsum dolor sit amet.</p>
                <h3 class="mt-2 text-2xl sm:text-left md:text-4xl">Lorem, ipsum dolor.</h3>
                <p class="mt-5 text-lg text-gray-700 text md:text-left">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt ratione, quas perferendis quos et rem, hic, cumque soluta omnis voluptates sint. Temporibus magni asperiores laudantium magnam amet. Earum eius beatae corrupti blanditiis facere quis, possimus temporibus delectus illum explicabo id enim. Autem facere non sequi veritatis corporis recusandae unde sint.
                </p>
            </div>
        </div>

        <div class="flex flex-col mb-8 animated fadeIn sm:flex-row">
            <div class="items-center mt-3 mb-8 sm:w-1/2 md:w-5/12">
        <img class="rounded-lg drop-shadow-2xl" src="">
            </div>
            <div class="flex flex-col justify-center mt-2 mb-8 md:mt-0 sm:w-1/2 md:w-7/12 sm:pl-16">
                <p class="mb-2 text-sm font-semibold leading-none text-left text-green-blue uppercase">Lorem ipsum dolor sit amet.</p>
                <h3 class="mt-2 text-2xl sm:text-left md:text-4xl">Lorem3</h3>
                <p class="mt-5 text-lg text-gray-700 text md:text-left">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat adipisci natus, quae in voluptates animi ullam eveniet asperiores eligendi totam! Nihil ex iure blanditiis voluptates minus debitis adipisci pariatur modi mollitia, cupiditate neque, repudiandae, asperiores ea. Optio, quo, laudantium, commodi libero vitae sint temporibus consequatur quasi excepturi natus reprehenderit hic.
                </p>
            </div>
        </div>
        <div class="flex flex-col mb-8 animated fadeIn sm:flex-row">
            <div class="flex items-center mb-8 sm:w-1/2 md:w-5/12 sm:order-last">
        <img class="rounded-lg shadow-xl" [src]="">
            </div>
            <div class="flex flex-col justify-center mt-5 mb-8 md:mt-0 sm:w-1/2 md:w-7/12 sm:pr-16">
                <p class="mb-2 text-sm font-semibold leading-none text-left text-green-blue uppercase">Lorem ipsum dolor sit amet.</p>
                <h3 class="mt-2 text-2xl sm:text-left md:text-4xl">Lorem, ipsum dolor.</h3>
                <p class="mt-5 text-lg text-gray-700 text md:text-left">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque rem ex delectus odit ipsum. Illo provident numquam dolor perspiciatis! Autem animi cupiditate id nihil ut, officiis eligendi illum earum cumque iusto iste modi vero culpa vitae quos, ea, quidem quasi quia. Delectus ea culpa hic odit. Mollitia dolorum culpa minima.
                </p>
            </div>
        </div>
        <div class="flex flex-col mb-8 animated fadeIn sm:flex-row">
            <div class="items-center mt-3 mb-8 sm:w-1/2 md:w-5/12">
        <img class="rounded-lg shadow-xl" [src]="">
            </div>
            <div class="flex flex-col justify-center mt-2 mb-8 md:mt-0 sm:w-1/2 md:w-7/12 sm:pl-16">
                <p class="mb-2 text-sm font-semibold leading-none text-left text-green-blue uppercase">Lorem ipsum dolor sit amet.</p>
                <h3 class="mt-2 text-2xl sm:text-left md:text-4xl">Lorem, ipsum dolor.</h3>
                <p class="mt-5 text-lg text-gray-700 text md:text-left">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil voluptas enim excepturi fuga laborum, natus minus explicabo animi expedita cumque aliquam voluptatum, aliquid magni fugiat amet voluptatibus sit, eaque aspernatur perspiciatis nesciunt sed voluptates? Vel et minus voluptate beatae quo! Sunt reprehenderit esse cupiditate repellendus quas molestias consectetur soluta ipsa.
                </p>
            </div>
        </div>
    </div>
</section>
