
<div class="w-5/6 md:w-4/5 mx-auto">
    <app-terminal-window></app-terminal-window>
</div>

<section class="pt-60 sm:pt-40 md:pt-20">
    <div class="flex flex-col px-8 mx-auto space-y-12 max-w-7xl xl:px-12">
        <div class="relative">
            <h2 class="w-full text-3xl font-bold text-center sm:text-4xl md:text-5xl uppercase">Über mich</h2>
            <p class="w-full py-8 mx-auto mt-2 text-lg text-center text-gray-700 intro sm:max-w-3xl">
                Und ich bin ein Lernender als Applikationsentwickler im 3. Ausbildungsjahr. 
                Ich komme ursprünglich aus Berlin, bin aber seit meinem 4 Lebensjahr in Bern zuhause und bin 17 Jahre alt. 
            </p>
        </div>
        
        <div class="flex flex-col mb-8 animated fadeIn sm:flex-row">
            <div class="flex items-center mb-8 sm:w-1/2 md:w-5/12 sm:order-last">
                <img class="rounded-lg drop-shadow-2xl" [src]="bildNatur">
            </div>
            <div class="flex flex-col justify-center mt-5 mb-8 md:mt-0 sm:w-1/2 md:w-7/12 sm:pr-16">
                <p class="mb-2 text-sm font-semibold leading-none text-left text-green-blue uppercase">BWD IMS und weiteres</p>
                <h3 class="mt-2 text-2xl sm:text-left md:text-4xl">Meine Ausbildung</h3>
                <p class="mt-5 text-lg text-gray-700 text md:text-left">
                    Seit 2020 besuche ich die Informatikmittelschule IMS BWD in Bern, Wankdorf.
                    Dies ermöglicht es mir, meinen einen Abschluss in Applikationsentwicklung mit einem EFZ und Berufsmatur zu bekommen.
                    Damit kann ich weitere Pläne, wie ein Informatikstudium, schon nach 4 Jahren erreichen. 
                    Auf die Informatik bin ich durch meine Eltern in einem frühen alter gekommen, da beide Informatik studiert haben und mein Vater Applikationsentwickler ist. 
                    Dazu führt eine Neugier für Technik und logisches Denken für Interesse in Informatik und programmierung. 
                </p>
            </div>
        </div>

        <div class="flex flex-col mb-8 animated fadeIn sm:flex-row">
            <div class="items-center mt-3 mb-8 sm:w-1/2 md:w-5/12">
                <app-progress-bars></app-progress-bars>
            </div>
            <div class="flex flex-col justify-center mt-2 mb-8 md:mt-0 sm:w-1/2 md:w-7/12 sm:pl-16">
                <p class="mb-2 text-sm font-semibold leading-none text-left text-green-blue uppercase">Programiersprachen / Frameworks</p>
                <h3 class="mt-2 text-2xl sm:text-left md:text-4xl">IT-Kenntisse</h3>
                <p class="mt-5 text-lg text-gray-700 text md:text-left">
                    Durch die Berufsschule habe ich viele Programiersprachen / Frameworks kennengelernt. 
                    Aber auch in meiner Freizeit verbringe ich gerne Zeit, mir etwas neues bei zu bringen. 
                    Wie bei dieser Webseite, denn sie ist mit Angular ( 2+ ) geschrieben, eine Sprache die ich mir selbst beigebracht habe. 
                    Ich weiss, dass ich die aufgelisteten Sprachen / Frameworks nicht perfekt behersche, schätze mich aber gut für meinen Ausbildungsstand. 
                    In der Berufsschule Gibb und im BBC habe bisher ein weites Spektrum an Sprachen / Frameworks kennengelernt, welches ich auch vertiefen konnte.
                    In der Zukunft möchte ich mich immer weiterbilden und bin offen für neues ;)
                </p>
            </div>
        </div>
        <div class="flex flex-col mb-8 animated fadeIn sm:flex-row">
            <div class="flex items-center mb-8 sm:w-1/2 md:w-5/12 sm:order-last">
                <img class="rounded-lg shadow-xl" [src]="bildHobbies">
            </div>
            <div class="flex flex-col justify-center mt-5 mb-8 md:mt-0 sm:w-1/2 md:w-7/12 sm:pr-16">
                <p class="mb-2 text-sm font-semibold leading-none text-left text-green-blue uppercase">Hobbys und co</p>
                <h3 class="mt-2 text-2xl sm:text-left md:text-4xl">Meine Freizeitbeschäftigungen</h3>
                <p class="mt-5 text-lg text-gray-700 text md:text-left">
                    In meiner Freizeit habe ich einiges zu tun. 
                    Neben dem Lernen für die Schule und für persöhnliche Projekte verbringe ich am liebsten meine Zeit draussen mit meinen Freunden.

                    Um meinen Körper genügend Auslastung zu geben, mache in Krafttraining im Gym. 

                    Neben dem Piano spielen, habe ich mir auch 3d Modelierung und Videobearbeitung selbst letztes Jahr beigebracht. Dies  
                    Ausserdem Zeichne und Kalligrafiere ich sehr gerne seit 2019. 

                    Reisen ist für mich auch sehr wichtig. 
                    Schon im frühen alter sind meine Eltern und ich um die Welt gereist. 
                    Orte wie Costa Rica und Thailand haben mir vieles über fremde Kulturen und lebensweisen beigebracht. 
                </p>
            </div>
        </div>
        <div class="flex flex-col mb-8 animated fadeIn sm:flex-row">
            <div class="items-center mt-3 mb-8 sm:w-1/2 md:w-5/12">
                <img class="rounded-lg shadow-xl" [src]="bildPortrait">
            </div>
            <div class="flex flex-col justify-center mt-2 mb-8 md:mt-0 sm:w-1/2 md:w-7/12 sm:pl-16">
                <p class="mb-2 text-sm font-semibold leading-none text-left text-green-blue uppercase">Meine</p>
                <h3 class="mt-2 text-2xl sm:text-left md:text-4xl">Stärken und Schwächen</h3>
                <p class="mt-5 text-lg text-gray-700 text md:text-left">
                    Für mich ist Persöhnlichkeit sehr wichtig. Jedoch mich selber zu beschreiben fällt mir schwer. 
                    Ich schätze mich selbst als detailverliebt, bedeutet ich kann mich sehr schnell in Einzelkeiten verlieren. 
                    Je nach Thema kann sich das als Nachteil aber auch als Vorteil auswirken. 
                    Sobald mich etwas interresiert, lasse ist selten eine gute Gelegenheit aus, etwas Neues zu lernen. 
                    Ich würde mich auch als logischer, rationaler und systematischer Denker beschreiben, da es für mich immer eine Erklärung gibt.
                    Ich achte auch darauf, jede Meinung in betacht zu ziehen, da verschiedene Blickwinkel bessere Lösungen einbringen können. 
                    Es ist auch manchmal schwierig etwas anderes zu machen, sobald ich leidenschaftlich am arbeiten bin. 
                    Auch wichtig sind mir moralische Prinzipien und ethische Werte. 
                </p>
            </div>
        </div>
    </div>
</section>
